@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f1f4f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(14, 60, 114, 0.1);
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.image-container {
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo-image{
    height: 150px;
    width: 250px;
}
.form-container {

    border: #628863;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px; 
}

.login-text {
    text-align: center;
}

.input-group {
    transition: all;
    margin-bottom: 20p;
}

.input:focus{
    outline: none;
    
}
.input{
    display: flex;
    margin: 10px;
    border: none;
    border-right: solid 2px #4766bb;
    height: 50px;
   width: 300px;
    background-color: aliceblue;
    font-size: medium;
      align-items: center;
      justify-content: center;
}


.input-group label {
    display: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

}

.btn button{
    width: auto;
    border-radius: 50px;
    background-color: #142c6d;
    color: white;
    padding:  10px 30px 10px 30px;
    font-size: medium;
    border: none;
}

.btn button:hover{
    background-color: #9eb9ff ;
    color: black;
}

.front {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
